<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hackin UTU</title>
    <link rel="stylesheet" href="../static/css/aboutme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
    <meta property="og:type" content="website" />
    
    <meta property="og:image:type" content="img/png">
    <meta property="og:description" content="About me" />
</head>

<body>
    <div id="particles-js"></div>
    <div class="line1"></div>
    <p class="heading">About Us</p>
    <div class="line2"></div>
    <div class="profile">
        <img src="../static/image/clg.jpeg" width="40%" height="auto" class="centre" />
    </div>
    <ul class="text">
        <li>Nandana Sreeraj: College of Engineering Trivandrum</li>
        <li>Lakshmi U G: College of Engineering Trivandrum</li>
        <li>Jaison J: College of Engineering Trivandrum</li>
        <li>Anamika Prakash: College of Engineering Trivandrum</li>
        <li>Teena Sabu: College of Engineering Trivandrum</li>
    </ul>
    <div class="ham-bar">
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="ham-list">
            <li class="ham-item">
                <a href="index.html" class="ham-link">Home</a>
            </li>
            <li class="ham-item">
                <a href="goals.html" class="ham-link">Text matching</a>
            </li>
            <li class="ham-item">
                <a href="academics.html" class="ham-link">About Project</a>
            </li>
            <li class="ham-item">
                <a href="aboutme.html" class="ham-link">About Us</a>
            </li>
        </ul>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>