<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
</head>
<body>
    <div>
        <h1>Text matching</h1>
        <form action="{{url_for('predict')}}"method="post">
            <input type="text" name="text1" placeholder="text1" required="required" />
            <input type="text" name="text2" placeholder="text2" required="required" />

            <button type="submit">Predict</button>
        </form>
        <br>
        <br>
        {{prediction_text}}
    </div>
</body>
</html>
